[submodule "client/src/libraries"]
	path = client/src/libraries
	url = git://github.com/javi11292/libraries.git
[submodule "client/src/ui"]
	path = client/src/ui
	url = git://github.com/javi11292/ui.git
