@use "ui/colors";
@use "ui/utils";

@include utils.appearGrow();
@include utils.appear();

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: colors.$background;
  }
}

.container {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  background: colors.$backgroundSecondary;
  padding: 1rem;
  border-radius: 0.2rem;
}
