@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme(colors.black);
  color: theme(colors.white);
  font-family: sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
