@use "ui/colors";

.input {
  cursor: pointer;
}

.tooltip {
  padding: 0.5rem 0;
}

.option {
  width: 100%;
  border-radius: 0;
  display: block;
  text-align: start;
}

.selected {
  background: colors.$secondary;
}
