@use "ui/utils";
@use "ui/colors";

@use "./variables.module";

.container {
  padding: 0.5rem 0;
  background: colors.$backgroundSecondary;
  border-radius: 0.2rem;
  display: grid;
  grid-template-columns: repeat(var(variables.$columns), auto);
  align-content: flex-start;
  align-items: center;

  :not(.row) {
    box-sizing: border-box;
    height: 100%;
    padding: 0.5rem;
  }
}

.row {
  display: contents;

  * {
    @include utils.hover-default();

    cursor: default;
  }

  @media (hover: hover) {
    &:hover {
      *::before {
        @include utils.hover-hover();
      }
    }
  }

  &:active {
    *::before {
      @include utils.hover-active();
    }
  }
}

.header {
  display: contents;
  font-weight: bold;
}
